<div class="user-list">
  <div class="flex justify-between">
    <h3 class="text-2xl"><%= "Post ##{@post.id} by #{@author.name}" %></h3>
    <p class="text-sm text-gray-500">Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
  </div>
  <div class="py-4">
    <%= @post.text %>
  </div>
  <div>
    <div id='add_like'>
      <%=button_to 'Like', user_post_likes_path(@current_user.id, @post), method: :post %>
    </div>
    <div id='add_comment'>
      <%= render 'comments/new' %>
    </div>
  </div>
  <ul>
    <% @post.comments.each do |comment| %>
    <li><%= "#{comment.user.name}: #{comment.text}" %></li>
    <% end %>
  </ul>
</div>